{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>선문대학교 셔틀버스</title>
    {% endblock %}
</head>
<body>
        {% block header %}

        <form action="{% url 'post_update' post.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="수정하기">
            <input type="button" value="뒤로가기" onclick="history.back(-1);">
                </form>
                {% endblock %}
</body>
</html>